.bubbles {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.bubble-container {
  position: absolute;
  bottom: 0;
  will-change: transform, opacity;
  -webkit-animation: bubblerise 4s infinite ease-in;
  -moz-animation: bubblerise 4s infinite ease-in;
  -ms-animation: bubblerise 4s infinite ease-in;
  animation: bubblerise 4s infinite ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.bubble {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.25);
  will-change: transform, opacity;
  -moz-border-radius: 15px;
  -webkit-border-radius:15px;
  border-radius: 15px;
  -webkit-animation: bubblewobble 1s infinite linear;
  -moz-animation: bubblewobble 1s infinite linear;
  -ms-animation: bubblewobble 1s infinite linear;
  animation: bubblewobble 1s infinite linear;
}

@-webkit-keyframes bubblerise {
  0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes bubblerise {
  0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes bubblerise {
  0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes bubblerise {
   0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes bubblewobble {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2px);
  }
}
@-moz-keyframes bubblewobble {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2px);
  }
}
@-ms-keyframes bubblewobble {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2px);
  }
}
@keyframes bubblewobble {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2px);
  }
}
