/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
Pallette:

#A0DCF1
#F15E50
#1C455D
#E5F2F7
#35A6D3
#467F9F
#F59A63
#F8C86C

*/


body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #1C455D;
  font-size: 1.4em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #F15E50;
  font-size: 3em;
  margin: 1em 0;
}


a:link, a:visited {
  text-decoration: none;
  color: #35A6D3;
}

a:hover, a:active {
  color: #A0DCF1;
}

section {
  width: 60%;
  margin: 0 auto;
}

.highlight {
  background: #F8C86C;
}

.nav {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0 1em;
}

.current {
  padding: 0;
  border-bottom: 5px solid #F8C86C;
  display: block;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
}

.title:link, .title:visited {
  color: #1C455D;
}

.title:hover, .title:active {
  color: #35A6D3;
}

.current:link, .current:visited {
  color: #1C455D;
}

.hero {
  background: #A0DCF1;
  text-align: center;
  position: relative;
}

.bubbles {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.bubble-container {
  position: absolute;
  bottom: 0;
  will-change: transform, opacity;
  -webkit-animation: bubblerise 4s infinite ease-in;
  -moz-animation: bubblerise 4s infinite ease-in;
  -ms-animation: bubblerise 4s infinite ease-in;
  animation: bubblerise 4s infinite ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.bubble {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.25);
  will-change: transform, opacity;
  -moz-border-radius: 15px;
  -webkit-border-radius:15px;
  border-radius: 15px;
  -webkit-animation: bubblewobble 1s infinite linear;
  -moz-animation: bubblewobble 1s infinite linear;
  -ms-animation: bubblewobble 1s infinite linear;
  animation: bubblewobble 1s infinite linear;
}

@-webkit-keyframes bubblerise {
  0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes bubblerise {
  0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes bubblerise {
  0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes bubblerise {
   0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes bubblewobble {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2px);
  }
}
@-moz-keyframes bubblewobble {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2px);
  }
}
@-ms-keyframes bubblewobble {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2px);
  }
}
@keyframes bubblewobble {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2px);
  }
}

.synopsis {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 3em 0;
  font-weight: normal;
}

.stats {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: top;
}

.stats li {
  display: inline-block;
  vertical-align: top;
  width: 15vw;
}

.num {
  background: #1C455D;
  color: #F15E50;
  padding: 1em .5em;
  font-size: 1.5em;
  border: 1px solid #E5F2F7;
}

.caption {
  font-size: .75em;
  margin: .5em;
}

.welcome {
  margin: 1em 0;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.1;
}

.welcome-name {
  font-size: 1.2em;
  font-weight: 900;
  font-style: normal;
}
.welcome-info {
  font-size: .5em;
  margin-bottom: 3em;
  display: block;
}

.action {
  margin: 0 auto 1.5em;
}

.action-button {
  background: #F59A63;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  padding: .2em 1em;
  border: 4px solid #1C455D;
  font-size: 2em;
  border-radius: 10px;
}

.action-button:link, .action-button:visited, .action-button:hover, .action-button:active {
  color: #1C455D;
}

.action-button:hover {
  cursor: pointer;
  background: #F15E50;
}

.social {
  padding: 0;
  list-style-type: none;
  background: #E5F2F7;
  margin: 0;
  text-align: center;
}

.social li {
  display: inline-block;
  margin: 1em;
}

.social img {
  max-width: 60px;
  max-height: 30px;
}

.social a {
  font-size: 1.2em;
  vertical-align: middle;
  margin: 0 .2em;
}

.schedule-day {
  margin: 5em 0;
}
.day {
  font-size: 1.5em;
  margin: 1em 0;
}

.table {
  display: block;
  width: 100%;
  border-collapse: collapse;
}

.table tr {
  padding: 1em;
  border-top-style: solid;
  border-top-width: 4px;
}

.table tr:nth-child(3n) {
  border-top-color: #F15E50
}

.table tr:nth-child(3n+1) {
  border-top-color: #35A6D3;
}

.table tr:nth-child(3n+2) {
  border-top-color: #F59A63;
}

.table td {
  padding: 1em;
}

.table td:nth-child(1) {
  width: 9%;
}

.table td:nth-child(2) {
  width: 61%;
}

.table td:nth-child(3) {
  width: 30%;
}

.landscape {
  max-width: 100%;
}

.map {
  display: flex;
}

.auv-list, .info-list {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.auv-list {
  display: flex;
  justify-content: space-between;
}

.info-list li {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin: 1em;
}

.info-list li:nth-child(4n) .info-title {
  color: #35A6D3;
}

.info-list li:nth-child(4n+1) .info-title {
  color: #467F9F;
}

.info-list li:nth-child(4n+2) .info-title {
  color: #F8C86C;
}

.info-list li:nth-child(4n+3) .info-title {
  color: #F15E50;
}

.info-title, .info-content, .type-link {
  margin: .2em;
}

.info-title {
  font-size: 1.5em;
  font-weight: bold;
}

.auv-list img {
  max-width: 200px;
}

.type-link:link, .type-link:visited {
  color: #35A6D3;
}

.type-link:hover, .type-link:active {
  text-decoration: underline;
}

.type-link:after {
  content: "›";
  display: inline-block;
  padding-left: .3em;
  margin: .5em 0;
}

.map {
  position: relative;
  padding-bottom: 40%; // This is the aspect ratio: height/width
  height: 0;
  overflow: hidden;
  margin: 2em 0;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.address {
  margin: 1em 0;
  font-size: 1.4em;
}

.team, .sponsors {
  list-style-type: none;
  margin: 0 auto;
  display: block;
  padding: 0;
  text-align: center;
}

.sponsors-container {
  padding: 2vw 2vw 2vw;
  background-color: #FBFBFD;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.sponsor-img{
  max-height: 90%
}

.sponsors li, .team li {
  display: inline-block;
  vertical-align: top;
  margin: .5%;
}

.sponsors li {
  width: 19vw;
  margin: 1em;
}

.team li {
  width: 15%;
  padding: 15px;
}

.team-pic {
  max-width: 100%;
  border-radius: 50%;
}

.team-name {
  text-align: center;
  margin: .2em;
  font-size: .8em;
}

.footer {
  height: 100px;
  margin-top: 3em;
}

.footer p {
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: -70px;
}

.footer img {
  display: block;
  margin: .5em auto;
  height: 50px;
}

#fb-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 10px;
  right: 10px;
  border-radius: .3em;
}

#fb-container.inactive {
  background: #eee;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

#fb-button {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
  position: relative;
  background: #0084ff;
  color: white;
  font-size: 0.9em;
  border: 0.15em solid #0084ff;
  border-radius: .3em;
  text-transform: uppercase;
  padding: 0.6em 0.9em 0.6em 2em;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: .025em;
  cursor: pointer;
  transition: inherit;
  transition: all 50ms linear;
}
#fb-button .fb-icon {
  position: absolute;
  top: 0;
  bottom: 0em;
  margin: auto 0;
  left: 0.2em;
  width: 1.5em;
  fill: white;
  height: 1.5em;
  display: block;
  transition: inherit;
}

#fb-button:hover, #fb-container.inactive #fb-button {
  color: #0084ff;
  background: white;
}

#fb-button:hover .fb-icon, #fb-container.inactive #fb-button .fb-icon {
  fill: #0084ff;
}
#fb-button:hover:active, #fb-container.inactive #fb-button:active {
  transform: scale(0.99);
}

@media only screen and (max-width: 1450px) {
  .stats li {
    width: 22vw;
  }
}

@media only screen and (max-width: 1300px) {
  body {
    font-size: 1.2em;
  }

  section {
    width: 80%;
  }
}

@media only screen and (max-width: 1100px) {
  #fb-container{
    border-radius: 1.5em;
  }

  #fb-button  {
    border-radius: 1.5em;
    padding: 1.2em 1.2em 1.2em 1.2em;
  }

  #fb-button .fb-icon {
    left: 0.45em;
  }

  #fb-button #fb-text {
    display: none;
  }

  .menu {
    display: block;
  }

  .auv-list img {
    max-width: 150px;
  }

  .stats li {
    width: 24vw;
  }

  .info-list li {
    margin: .5em;
    width: 45%;
  }

  .footer p {
    margin-bottom: -20px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 1.1em;
  }

  section {
    width: 95%;
  }

  .current:link, .current:visited, .current:hover, .current:active {
    color: #F15E50;
    border-bottom-style: none;
    font-weight: bold;
  }

  .synopsis {
    padding: 2em 0;
  }

  .num span {
    display: block;
  }

  .info-list li {
    width: 100%;
    margin: 1em 0;
    text-align: left;
  }

  .sponsors li {
    width: 35vw;
  }

  .schedule-day {
    margin: 4em 0;
  }

  .map, .address {
    width: 100%;
  }

  .footer {
    margin-top: 2em;
  }
  .footer p {
    font-size: 1em;
    margin-bottom: 0;
  }

  .auv-list img {
    max-width: 120px;
  }
}

@media only screen and (max-width: 600px) {
  .title, .current {
    width: 100%;
    padding: .2em;
  }

  .menu {
    display: none;
  }

  .welcome {
    margin: .5em 0;
  }

  .num {
    font-size: 1em;
  }

  .table {
    font-size: .9em;
  }

  .auv-list img {
    max-width: 80px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
