body
  font-family: 'Source Sans Pro', sans-serif
  color: $dark-color
  font-size: 1.4em
  position: relative

h1, h2, h3, h4, h5, h6
  margin: 0

h2
  color: $important-color
  font-size: 3em
  margin: 1em 0

h3
  font-size: 1.5em
  margin: 1em 0
  color: $dark-color

a
  &:link, &:visited
    text-decoration: none
    color: $primary-color
  &:hover, &:active
    color: $background-color
    text-decoration: underline

img
  border-radius: 4px
  max-width: 100%

.image-caption
  font-size: .75em
  margin: .5em
  text-align: center
  &:before
    content: "▲"

section
  width: 60%
  margin: 0 auto

code
  background: $light-color

.flag
  margin: 0 .5em 0 0

.greyedout
  color: grey

.input-points
  width: 2.5em
  border: none
  border-bottom: 3px solid $dark-color
  text-align: center
  font-family: "Source Sans Pro",sans-serif
  font-weight: bold
  color: $dark-color
  background: $light-color

  &.greyedout
    border-bottom: 3px solid grey
    color: grey

@media only screen and (max-width: 1300px)
  body
    font-size: 1.2em
  section
    width: 80%

@media only screen and (max-width: 600px)
  .table-teams
    td, th
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
        width: 100%
        display: block
        padding: .3em

  .table-finalists
    td, th
      &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5)
        width: 100%
        display: block
        padding: .3em
