.highlight {
  background: #F8C86C;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
}

.mobile-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #1C455D;
}

.title:link, .title:visited {
  color: #1C455D;
}

.title:hover, .title:active {
  color: #35A6D3;
}

.current:link, .current:visited {
  color: #1C455D;
}

.schedule-day {
  margin: 5em 0;
}

.schedule-note {
  font-size: 0.7em;
}

.day {
  font-size: 1.5em;
  margin: 1em 0;
}



.landscape {
  max-width: 100%;
}

.map {
  display: flex;
}


.map {
  position: relative;
  padding-bottom: 40%; // This is the aspect ratio: height/width
  height: 0;
  overflow: hidden;
  margin: 2em 0;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.address {
  margin: 1em 0;
  font-size: 1.4em;
}

.team, .sponsors, .winners {
  list-style-type: none;
  margin: 0 auto;
  display: block;
  padding: 0;
  text-align: center;
}

.sponsors-container .winners-container{
  padding: 2vw 2vw 2vw;
  background-color: #FBFBFD;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.sponsor-img .winners-img{
  max-height: 90%
}

.team li, .sponsors li, .winners li{
  display: inline-block;
  vertical-align: top;
  margin: .5%;
}

.sponsors li, .winners li{
  width: 19vw;
  margin: 1em;
}

.team li {
  width: 15%;
  padding: 15px;
}

.team-pic {
  max-width: 100%;
  border-radius: 50%;
}

.team-name {
  text-align: center;
  margin: .2em;
  font-size: .8em;
}




@media only screen and (max-width: 1100px) {
  .auv-list img {
    max-width: 150px;
  }

  .stats li {
    width: 24vw;
  }

  .info-list li {
    margin: .5em;
    width: 45%;
  }

  .footer p {
    margin-bottom: -20px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 1.1em;
  }

  section {
    width: 95%;
  }

  .current:link, .current:visited, .current:hover, .current:active {
    color: #F15E50;
    border-bottom-style: none;
    font-weight: bold;
  }

  .synopsis {
    padding: 2em 0;
  }

  .num span {
    display: block;
  }

  .info-list li {
    width: 100%;
    margin: 1em 0;
    text-align: left;
  }

  .sponsors li {
    width: 35vw;
  }

  .schedule-day {
    margin: 4em 0;
  }

  .map, .address {
    width: 100%;
  }

  .footer {
    margin-top: 2em;
  }
  .footer p {
    font-size: 1em;
    margin-bottom: 0;
  }

  .auv-list img {
    max-width: 120px;
  }
}

@media only screen and (max-width: 600px) {
  .title, .current {
    width: 100%;
    padding: .2em;
  }

  .welcome {
    margin: .5em 0;
  }

  .table {
    font-size: .9em;
  }

  .auv-list img {
    max-width: 80px;
  }
}
